@charset "utf-8";

/* CSS Document */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
  -webkit-font-smoothing: antialiased;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input,
select,
textarea {
  vertical-align: middle;
  color: #000;
  border: none;
  border: 0;
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
}

b,
i,
strong,
em {
  font-weight: normal;
  font-style: normal;
}

img {
  border: 0;
}

.fr {
  float: right
}

.fl {
  float: left
}

.clear {
  clear: both
}

.clearfix {
  zoom: 1;
  overflow: hidden
}

/*input-placeholder-color*/
::-webkit-input-placeholder {
  color: #acb4bf;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  color: #acb4bf !important;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #acb4bf !important;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: #acb4bf !important;
  text-overflow: ellipsis;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}


/*padding,margin值*/
.pad30lr {
  padding: 0 30px;
}

.padTop30 {
  padding-top: 30px;
}

.marginRight30 {
  margin-right: 30px;
}

.padBom20 {
  padding-bottom: 20px;
}

/**********公共文字颜色*************/
.textHidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

/*color*/
.colorDeep {
  color: #131B26;
}

/*一级文字 深色*/
.colorIn {
  color: #474C59;
}

/*二级文字 适中*/
.colorShallow {
  color: #8A8B99;
}

/*三级文字 浅色*/
.colorBlue_click {
  color: #6B89B3;
}

/*可点击文字 蓝色*/
.colorBlue {
  color: #3A8BFF;
}

/*蓝色*/
.pointer {
  cursor: pointer
}

/******border**********/
.borderBom1 {
  border-bottom: 1px solid #F2F2F2;
}

/************渐变按钮样式************/
.jb_btn {
  border: none;
  display: inline-block;
  box-shadow: 0 3px 12px 0 rgba(39, 125, 255, 0.30);
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
  cursor: pointer;
}

.jb_btn_92 {
  width: 92px;
  height: 36px;
  background: url(../assets/jb_btn_92.png) no-repeat 0 0;
  cursor: pointer;
}

.jb_btn_92:hover {
  background-position: 0 -48px;
  cursor: pointer;
}

.jb_btn_92:active {
  background-position: left -96px;
  cursor: pointer;
}

.jb_btn_92_disable {
  width: 92px;
  height: 36px;
  background: url(../assets/jb_disable.png) no-repeat;
  box-shadow: 0 4px 11px 0 rgba(86, 82, 255, 0.17);
  border-radius: 20px;
  cursor: pointer;
}

.jb_btn_104 {
  width: 104px;
  height: 36px;
  background: url(../assets/jb_btn_104.png) no-repeat 0 0;
  cursor: pointer;
}

.jb_btn_104:hover {
  background-position: 0 -48px;
  cursor: pointer;
}

.jb_btn_104:active {
  background-position: left -96px;
  cursor: pointer;
}

.jb_btn_168 {
  width: 168px;
  height: 44px;
  line-height: 44px;
  background: url(../assets/jb_btn_168.png) no-repeat 0 0;
  cursor: pointer;
}

.jb_btn_168:hover {
  background-position: 0 -56px;
  cursor: pointer;
}

.jb_btn_168:active {
  background-position: left -112px;
  cursor: pointer;

}

.btnBlue {
  cursor: pointer;
  border: 1px solid #8CBCFF;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  color: #3A8BFF;
}

.btnText_92 {
  width: 92px;
  height: 36px;
}

.btnText_104 {
  width: 104px;
  height: 36px;
}

.btnText_168 {
  width: 168px;
  height: 44px;
}

.btnBlue:hover {
  background: #EAF0FF;
}

.btnBlue:active {
  background: #E4ECFF;
}

.btn_92_cancel:hover {
  background: none
}

.btn_92_cancel:active {
  background: none
}

.btn_104 {
  width: 102px;
}

.btn_92 {
  width: 90px;
}


/*搜索*/
.dataSearch {
  width: 200px;
  height: 36px;
  border-radius: 40px;
  position: relative
}

.dataSearch_input {
  width: 170px;
  height: 34px;
  font-size: 14px;
  color: #131B26;
  border: 1px solid #D5D7D9;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0 14px;
  border-radius: 40px;
}

.dataSearch_bnt {
  width: 18px;
  height: 18px;
  background: url(../assets/search_ico.png) no-repeat center;
  border: 0 none;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 8px;
  z-index: 3;
  outline: none
}

.dataSearch_input:hover {
  border: 1px solid #3A8BFF;
}

.dataSearch_input:focus {
  outline: none;
  border: 1px solid #3A8BFF;
  /*box-shadow: 0 0 4px 0 #75BAFF;*/
  border-radius: 40px;
}

.dataSearch:hover .dataSearch_bnt {
  opacity: 0.7
}

.dataSearch_dele {
  width: 14px;
  height: 14px;
  background: url(../assets/search_dele.png) no-repeat center/14px;
  display: block;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -7px;
  display: none;
  z-index: 3;
}

.dataSearch_dele:hover {
  background: url(../assets/search_deleHover.png) no-repeat center/14px;
}


/*位置路径*/
.RoutePosiiton {
  width: 100%;
  line-height: 40px;
  padding-top: 10px;
}

.dataNum {
  color: #8A8B99;
}

.breadcrumb {
  display: table;
}

.breadcrumb>li {
  color: #8A8B99;
  float: left;
}

.breadcrumb>li.active {
  color: #8A8B99;
}

.breadcrumb>li>a {
  font-size: 12px;
  color: #3A8BFF;
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumb>li>a:hover {
  text-decoration: underline;
}

.breadcrumb>li+li {
  background: url(../assets/breadcrumb.png) no-repeat 4px center;
  padding-left: 14px;
}

.PlusIcon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}

/*********Reset************/
body {
  background: #f2f4f7;
}

.box {
  height: 100%;
  position: relative;
  padding: 30px;
}


/*气泡小弹窗开始*/
.Bubble_Popup {
  width: 116px;
  background: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(175, 187, 204, 0.75);
  border-radius: 6px;
  position: absolute;
  padding: 6px 0;
  display: none
}

.Bubble_Popup li {
  width: 100%;
  height: 48px;
}

.Bubble_Popup li a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  color: #474C59;
}

.Bubble_Popup li a:hover {
  background: #F5F8FB;
  color: #3B90FF;
}

/*气泡小弹窗结束*/

.loginCon li a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -1px;
}

.loginCon {
  position: absolute;
  left: -25px;
  top: 34px;
  height: 0
}

.name:hover .arrowDown {
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%;
  margin: 12px 0 0 8px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/******左侧开始*****/
.nav_side {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 2px 0 10px 0 rgba(237, 238, 240, 0.50);
  padding-top: 52px;
}

.classDl {
  width: 138px;
  margin: 0 auto;
  margin-top: 30px
}

.classDl dt {
  width: 138px;
  height: 78px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.classDl dt:hover {
  filter: alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.classDl dt span {
  display: inline-block;
  width: 100%;
  height: 24px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
}

/* .classDl dt span .left_join{display:inline-block;width:10px;height:10px;vertical-align:middle;background:url(../assets/left_join.png) no-repeat;margin-left:4px;margin-top:-2px;} */
.classDl dd {
  font-size: 16px;
  text-align: center;
  width: 100%;
  line-height: 21px;
  margin-top: 12px;
}

.nav-content {
  margin-top: 8px;
  padding-bottom: 30px;
}

.nav-content ul {
  border-bottom: 2px solid #F8F8F8;
  padding: 12px 0;
}

.nav-content ul:last-child {
  border-bottom: none
}

.nav-content ul li {
  width: 100%;
  height: 54px;
  position: relative;
}

.nav-content ul li a {
  display: block;
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  color: #474C59;
}

.nav-content ul li a:hover {
  background: #F0F6FF
}

.nav-content ul li a {
  padding-left: 47px;
}

/* .nav-content ul li a i{display:inline-block;width:24px;height:24px;background:url(../assets/nav_icon1.png) no-repeat;background-size:1600%;vertical-align:middle;margin-right:6px;margin-top:-2px;} */
.nav-content ul li a i.hd {
  background-position: 0 0;
}

.nav-content ul li a i.ppt {
  background-position: -24px 0;
}

.nav-content ul li a i.zj {
  background-position: -48px 0;
}

.nav-content ul li a i.zl {
  background-position: -72px 0
}

.nav-content ul li a i.tz {
  background-position: -96px 0
}

.nav-content ul li a i.tl {
  background-position: -120px 0
}

.nav-content ul li a i.zy {
  background-position: -144px 0
}

.nav-content ul li a i.ks {
  background-position: -168px 0
}

.nav-content ul li a i.tj {
  background-position: -192px 0
}

.nav-content ul li a i.gl {
  background-position: -216px 0
}

/* .nav-content ul li a i.tk{background:url(/assets/tiku_icon.png) no-repeat;background-position: 0 0;background-size:200%}
.nav-content ul li a i.expandread{background:url(/assets/coursedata/expandread.png) no-repeat;} */
.nav-content ul li.curNav a {
  color: #3B90FF;
  background: #F0F6FF
}

.nav-content ul li.curNav a i.hd {
  background-position: 0 -24px;
}

.nav-content ul li.curNav a i.ppt {
  background-position: -24px -24px;
}

.nav-content ul li.curNav a i.zj {
  background-position: -48px -24px;
}

.nav-content ul li.curNav a i.zl {
  background-position: -72px -24px
}

.nav-content ul li.curNav a i.tz {
  background-position: -96px -24px
}

.nav-content ul li.curNav a i.tl {
  background-position: -120px -24px
}

.nav-content ul li.curNav a i.zy {
  background-position: -144px -24px
}

.nav-content ul li.curNav a i.ks {
  background-position: -168px -24px
}

.nav-content ul li.curNav a i.tj {
  background-position: -192px -24px
}

.nav-content ul li.curNav a i.gl {
  background-position: -216px -24px
}

/* .nav-content ul li.curNav a i.tk{background:url(/assets/tiku_icon.png) no-repeat;background-position: -23px 0;background-size:200%}
.nav-content ul li.curNav a i.expandread{background:url(/assets/coursedata/expandreadcur.png) no-repeat;} */
/*12.25学生端新加*/
.nav-content ul li a i.ctj {
  background-position: -240px 0
}

.nav-content ul li a i.zc {
  background-position: -264px 0
}

.nav-content ul li a i.cj {
  background-position: -288px 0
}

.nav-content ul li a i.dy {
  background-position: -312px 0
}

.nav-content ul li.curNav a i.ctj {
  background-position: -240px -24px
}

.nav-content ul li.curNav a i.zc {
  background-position: -264px -24px
}

.nav-content ul li.curNav a i.cj {
  background-position: -288px -24px
}

.nav-content ul li.curNav a i.dy {
  background-position: -312px -24px
}

.nav-content ul li a b.number {
  display: inline-block;
  padding: 0 5px;
  height: 18px;
  color: #fff;
  border-radius: 50%;
  background: #F33F34;
  line-height: 18px;
  font-size: 13px;
  margin-left: 10px;
}



/******右侧开始*****/
.content {
  width: 100%;
  min-width: 804px;
  border-radius: 6px;
  margin: 0;
  background: #f2f4f7;
  position: relative;
  left: 0;
  top: 0px;
}

.content .main {
  min-width: 1040px;
  background: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(237, 238, 240, 0.50);
  border-radius: 8px;
  position: relative
}

/***************分页****************/
.HetPage106 {
  width: 100%;
  height: 106px;
}

/* .pagePosition{position:absolute;bottom:0;right:0;padding:40px 0;width:100%;height:26px;}
#page {text-align: center;height:26px;}
#page li {display:inline-block;width:24px;height:24px;border-radius:50%;text-align:center;padding:0;line-height:24px;color: #8A8B99;font-size:14px;margin:0 2px;cursor: pointer;overflow:hidden;}
#page li:hover{color: #474C59;}
#page li.xl-nextPage i{display:block;width:9px;height:14px;background:url(../assets/page_next.png) no-repeat;margin:0 auto;vertical-align:middle;margin-top:5px;}
#page li.xl-prevPage i{display:block;width:9px;height:14px;background:url(../assets/page_prve.png) no-repeat;margin:0 auto;vertical-align:middle;margin-top:5px;}
#page li.xl-active {background:url(../assets/pageBg.png) no-repeat;color:#fff;    box-shadow: 0 2px 6px 0 rgba(39,125,255,0.30);color:#fff}
#page li.xl-disabled i{display:block;width:9px;height:14px;background:url(../assets/disable_page_prve.png) no-repeat;vertical-align:middle;margin-top:5px;}
#page li.xl-nextPage.xl-disabled i{display:block;width:9px;height:14px;background:url(../assets/disable_page_next.png) no-repeat;vertical-align:middle;margin-top:5px;} */

/*开关与文字注解*/

.mui-switch {
  width: 38px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #D0D5DB;
  border-radius: 14px;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

.mui-switch:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: #fff;
  ;
}

.mui-switch:checked {
  border-color: #3A8BFF;
  ;
  box-shadow: #09f 0 0 0 .16rem inset;
  background-color: #09f;
}

.mui-switch:checked:before {
  left: 20px;
}

.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #3A8BFF;
  transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s;
}




/*开关按钮2*/
.switch {
  display: inline-block;
  width: 38px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #D0D5DB;
  border-radius: 14px;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  position: relative;
}

.switch.Dgblue {
  background: #3A8BFF;
}

.switch i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: #fff
}

.switch.Dgblue i {
  left: 20px;
  background: #fff;
}



/*8.14红点*/
.redRound {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F33F34;
  position: absolute;
  top: 18px;
  right: 51px
}

.into_ItemBank {
  margin: 0 auto;
  width: 102px;
  height: 74px;
}

.into_ItemBank a {
  display: inline-block;
  width: 76px;
  height: 32px;
  border: 1px solid #94c1ff;
  ;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #3a8bff;
  ;
}

.into_ItemBank a:hover {
  background: #eaf0ff;
  border: 1px solid #93bfff;
}

.into_ItemBank a:active {
  background: #e4ecff;
  border: 1px solid #93bfff;
}

/*公共二级导航*/
.subNav {
  width: 100%;
  height: 40px;
  background: #3A4357;
  box-shadow: 0 2px 17px 0 rgba(211, 211, 211, 0.50);
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #8A8B99;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000
}

.het40 {
  height: 40px;
  width: 100%
}

.sub-button a {
  display: inline-block;
  width: 94px;
  height: 40px;
  border-left: 1px solid #313A4C;
  font-size: 14px;
  color: #FFFFFF;
}

.sub-button a:hover {
  background: #48536B;
}

.sub-button a:active {
  background: #32394A;
  color: rgba(255, 255, 255, 0.7);
}

.sub-button a.completeBtn {
  background: #3A8BFF;
}

.sub-button a.completeBtn:hover {
  background: #5CA0FF;
}

.sub-button a.completeBtn:active {
  background: #2F70CC;
  color: rgba(255, 255, 255, 0.7);
}

.subBack {
  font-size: 14px;
  color: #878996;
  margin-left: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.subBack:hover {
  color: #8A8B99;
}

.subBack:hover .icon-BackIcon {
  color: #8A8B99;
}

/*右侧下载按钮*/
.DownloadaDiv {
  position: fixed;
  right: 20px;
  bottom: 94px;
  box-shadow: 0 1px 7px 0 rgba(198, 204, 217, 0.58);
  border-radius: 4px;
}

.Downloada {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden
}

.Downloada em {
  font-size: 13px;
  color: #FFFFFF;
  display: inline-block;
  min-width: 12px;
  height: 18px;
  background: #F33F34;
  line-height: 18px;
  border-radius: 10px;
  font-style: normal;
  position: absolute;
  right: -7px;
  top: -9px;
  font-family: PingFangSC-Regular;
  padding: 0 3px;
}

.Downloada:before {
  content: "\e605";
}

.Downloada:hover {
  color: #fff;
  background: #3A8BFF;
}

.DownloadaHover {
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 82px;
  height: 40px;
  background: rgba(24, 30, 51, 0.80);
  border-radius: 4px;
  margin-left: -28px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.DownloadaHover i {
  display: block;
  width: 0px;
  height: 0px;
  border: solid rgba(24, 30, 51, 0.80) 4px;
  position: absolute;
  right: -8px;
  top: 16px;
  bottom: auto;
  border-color: rgba(24, 30, 51, 0.80) transparent transparent transparent;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.bntHoverTips i.active {
  display: block;
  width: 0px;
  height: 0px;
  border: solid rgba(24, 30, 51, 0.80) 4px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: 40px;
  top: auto;
  border-color: transparent transparent rgba(24, 30, 51, 0.80) transparent;
}

.DownloadaDiv:hover .DownloadaHover {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 1s, visibility 0.3s 1s;
  transition: opacity 0.3s 1s, visibility 0.3s 1s;
}

/*苏婧需求*/
/*右侧固定按钮*/
.fixed-right-btm {
  position: fixed;
  right: 20px;
  bottom: 94px;
}

.fixed-right-btm .item {
  position: relative;
  margin-bottom: 10px;
  text-align: right;
}

.fixed-right-btm .item:last-child {
  margin-bottom: 0;
}

.fixed-right-btm .item .item-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 7px 0 rgba(198, 204, 217, 0.58);
  border-radius: 4px;
}

.fixed-right-btm .item:hover .item-icon {
  background: #3A8BFF;
  color: #FFFFFF;
}

.fixed-right-btm .item:hover .item-hover,
.fixed-right-btm .item:hover .item-hover-list {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 1s, visibility 0.3s 1s;
  transition: opacity 0.3s 1s, visibility 0.3s 1s;
}

.fixed-right-btm .item .item-icon em {
  font-size: 13px;
  color: #FFFFFF;
  display: inline-block;
  min-width: 12px;
  height: 18px;
  background: #F33F34;
  line-height: 18px;
  border-radius: 10px;
  font-style: normal;
  position: absolute;
  right: -7px;
  top: -9px;
  font-family: PingFangSC-Regular;
  padding: 0 3px;
}

.fixed-right-btm .item .item-hover {
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 82px;
  height: 40px;
  background: rgba(24, 30, 51, 0.80);
  border-radius: 4px;
  margin-left: -28px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.fixed-right-btm .item .item-hover i {
  display: block;
  width: 0px;
  height: 0px;
  border: solid rgba(24, 30, 51, 0.80) 4px;
  position: absolute;
  right: -8px;
  top: 16px;
  bottom: auto;
  border-color: rgba(24, 30, 51, 0.80) transparent transparent transparent;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.fixed-right-btm .item .item-hover i.active {
  display: block;
  width: 0px;
  height: 0px;
  border: solid rgba(24, 30, 51, 0.80) 4px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: 40px;
  top: auto;
  border-color: transparent transparent rgba(24, 30, 51, 0.80) transparent;
}

.fixed-right-btm .item-hover-list {
  display: none;
  position: absolute;
  right: 50px;
  top: 0px;
  padding: 6px 0;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 0px rgba(175, 187, 204, 0.75);
  font-size: 14px;
  color: #474C59;
  width: 98px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
  transition: opacity 0.3s 1s, visibility 0s 0.3s;
}

.fixed-right-btm .item-hover-list a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fixed-right-btm .item-hover-list a:hover {
  background: #F0F6FF;
  color: #3B90FF;
}

/* .fixed-right-btm .icon-suggest{display: inline-block;width: 16px;height: 16px;background: url("../assets/common/icon_suggest.png") no-repeat center;-webkit-background-size: cover;background-size: cover;margin-top: 12px;} */
.fixed-right-btm .item-suggest {
  width: 55px;
}

/* .fixed-right-btm .item-suggest:hover .icon-suggest{background: url("../assets/common/icon_suggest_hover.png") no-repeat center;-webkit-background-size: cover;background-size: cover;} */

/*空值页面*/
.nullMain {
  width: 100%;
  height: calc(100vh);
}

.null_wid700 {
  width: 700px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.null_img {
  width: 237px;
  height: 192px;
}

.word_null {
  width: 355px;
  padding-top: 32px;
}

.popWord {
  padding: 0 30px;
}

.word_null p {
  color: #8A8B99;
  font-size: 16px;
  margin-bottom: 30px;
}

.mui-switch {
  width: 38px;
  height: 20px;
  position: relative;
  display: inline-block;
  background: #D0D5DB;
  border-radius: 14px;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

.mui-switch:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: #fff;
  ;
}

.mui-switch.checked {
  border-color: #3A8BFF;
  box-shadow: #09f 0 0 0 .16rem inset;
  background-color: #09f;
}

.mui-switch.checked:before {
  left: 20px;
}

.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}

.mui-switch.mui-switch-animbg.checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #3A8BFF;
  ;
  transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg.checked:before {
  transition: left 0.3s;
}

.mui-switch>input {
  opacity: 0;
}


/*2021.1.26日新加公共样式*/

/*文字颜色*/
.color0 {
  color: #3A8BFF;
}

/*标准蓝*/
.color1 {
  color: #131B26;
}

/*一级文字*/
.color2 {
  color: #474C59;
}

/*二级文字*/
.color3 {
  color: #8A8B99;
}

/*三级文字*/
.color4 {
  color: #acb4bf;
}

/*四级文字*/
.color5 {
  color: #6B89B3;
}

/*可点文字*/
.color_green {
  color: #00B368;
}

/*绿色文字*/
.color_yellow {
  color: #F28C24;
}

/*黄色文字*/
.color_red {
  color: #F33131;
}

/*红色文字*/

/*需要hover的才加带_hover的class*/
.color1_hover:hover {
  color: #3A8BFF;
}

.color2_hover:hover {
  color: #131B26;
}

.color3_hover:hover {
  color: #474C59;
}

/*输入框border颜色*/
.border_color {
  border: 1px solid #D5D7D9
}

.border_color:hover {
  border: 1px solid #3A8BFF
}

.border_color:focus {
  border: 1px solid #3A8BFF
}

.border_color_red {
  border: 1px solid #f36161
}

.border_color_red:hover {
  border: 1px solid #f36161
}

.border_color_red:focus {
  border: 1px solid #f36161
}